#ItemColector_Sec{width: 80%; border: 1px solid;margin-left:10%  }
fieldset{ width: 50%;margin-left: 45%; border-radius: 10px; border: 3px solid; }
legend{font-size: 50px;}
.TextBox{border: 1px solid; font-size: 25px; width:70%; }
table lable{font-size: 25px; text-align:justify; font-style: italic;}
table td{}
table{border: px solid;width:100%}
.filldrop{font-size: 40px; border-radius: 5px;color: blue;;}
.buttond{font-size: 30px;  }