#forgot_password{border: 1px solid;width: 80%; height:20em; background-image: url('Images/hd-car-wallpaper-24.jpg'); height:20em;background-size: cover; background-repeat: no-repeat; background-position: center center; margin-left:10%}
fieldset{width: 50%; margin-left: 40%; border: 3px solid white;; border-radius: 10px; }
legend{font-size: 40px; color:aqua; }
table{font-size: 30px;width: 99%;   }
table lable{font-style: italic; }
table lable{background: yellow;}
.TextBox{font-size:30px; width: 99%; border-radius: 5px; border: 2px solid }
.Buttons{width: 20%;background-color:  #4533ff; font-size: 18px; border-radius: 5px; float:right; color: #FFFFFF; height: 40px; margin-top: 10px;  }
#btnSubmit,#btnBack{margin-right: 2%;}