#ItemColector_Sec {border: 2px solid;width: 80%;margin-left:10%;height:auto;;border-radius: 10px; background: #0090af}
#Right_Aside{ width: 38%; float: right; margin: auto; height:auto;   }
.Top_Select_Taxi{border: 1px solid; margin: 5px; width: 97%; height:170px; border-radius: 10px; background: white;}
.Top_Taxi_IMG_Class{border: 1px dotted; width: 50%; height: 155px; border-radius: 5px; }
.Select{border: 1px solid; margin: 5px; width: 55%; height:170px; border-radius: 10px; background: white; }
.IMG_Class{border: 1px dotted; width: 50%; height: 155px; border-radius: 5px;}
a{text-decoration: none;}
.Taxi_details{border: 0px solid; width: 40%; float: right; margin: 3% 5% 0px 0px; height: auto;}
.hypBook_Now{ }
.Book_images{width: 70%; margin-top: 15px; float: right;}
#Numbring_Index_sec{border: px solid; width:40%; margin:0 0 5px 60%; float: ri }
.Numbring_page{ border: 1px dotted; margin-left: 0px; padding:0px 20px; background:grey; &   }